---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Contacto">
  <div class="contacto">
    <h1>Contacto</h1>
    <p>Aquí puedes ponerte en contacto conmigo.</p>
  </div>
  <form>
    <label for="name">Nombre:</label>
    <input type="text" id="name" name="name" required />

    <label for="email">Correo electrónico:</label>
    <input type="email" id="email" name="email" required />

    <label for="message">Mensaje:</label>
    <textarea id="message" name="message" rows="5" required></textarea>

    <button type="submit">Enviar</button>
  </form>
</BaseLayout>
