---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Inicio">
  <section class="inicio">
    <h1>Bienvenido a mi sitio web</h1>
    <p>Este es el inicio de mi proyecto con Astro.</p>
  </section>
</BaseLayout>
