---
/* No necesitamos propiedades en este caso, así que lo dejamos vacío. */
---

<header>
  <nav>
    <a href="/semana5/">Inicio</a> |
    <a href="/semana5/about">Sobre mí</a> |
    <a href="/semana5/contact">Contacto</a>
  </nav>
</header>

  
  <style>
    header {
      background-color: #f8f8f8;
      padding: 10px;
      text-align: center;
    }
  
    nav a {
      margin: 0 15px;
      text-decoration: none;
      color: #333;
    }
  
    nav a:hover {
      color: #0077cc;
    }
  </style>
  